img {
    width: 400px; /* ANCHO */
}
#thirdDiv {
    height: 600px; /* ALTO */
    width: 500px; /* ANCHO */
    background-color: darkgreen;
    padding: 50px;
    border: 20px solid darkmagenta;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}